---
nodes:
    - name: node1
      hostname: node1.metrics.vagrant
      box: bento/centos-7.3
      ip: 192.168.44.41
      ports:
        - guest: 22
          host: 4441
    - name: grafana
      hostname: grafana.metrics.vagrant
      box: bento/centos-7.3
      ip: 192.168.44.42
      ports:
        - guest: 22
          host: 4442
    - name: classic
      hostname: classic.metrics.vagrant
      box: bento/centos-7.3
      ip: 192.168.44.43
      ports:
        - guest: 22
          host: 4443
      provision_shell: systemctl restart uwsgi
    - name: c
      hostname: c.metrics.vagrant
      box: bento/centos-7.3
      ip: 192.168.44.44
      ports:
        - guest: 22
          host: 4444
      provision_shell: systemctl restart uwsgi
    - name: ng
      hostname: ng.metrics.vagrant
      box: bento/centos-7.3
      ip: 192.168.44.45
      ports:
        - guest: 22
          host: 4445
    - name: influxdb
      hostname: influxdb.metrics.vagrant
      box: bento/centos-7.3
      ip: 192.168.44.46
      ports:
        - guest: 22
          host: 4446
    - name: prometheus
      hostname: prometheus.metrics.vagrant
      aliases: "mailhog.metrics.vagrant"
      box: bento/centos-7.3
      memory: 1024
      ip: 192.168.44.47
      ports:
        - guest: 22
          host: 4447
virtualbox_group: '/Vagrant/metrics'
