---
nodes:
    - name: node1
      hostname: node1.metrics.vagrant
      box: bento/centos-7.6
      ip: 192.168.44.41
    - name: grafana
      hostname: grafana.metrics.vagrant
      box: bento/centos-7.6
      ip: 192.168.44.42
    - name: classic
      hostname: classic.metrics.vagrant
      box: bento/centos-7.6
      ip: 192.168.44.43
      provision_shell: systemctl restart uwsgi
    - name: c-relay
      hostname: c.metrics.vagrant
      box: bento/centos-7.6
      ip: 192.168.44.44
      provision_shell: systemctl restart uwsgi
    - name: ng-relay
      hostname: ng.metrics.vagrant
      box: bento/centos-7.6
      ip: 192.168.44.45
      provision_shell: systemctl restart uwsgi
    - name: influxdb
      hostname: influxdb.metrics.vagrant
      box: bento/centos-7.6
      ip: 192.168.44.46
    - name: prometheus
      hostname: prometheus.metrics.vagrant
      aliases: "mailhog.metrics.vagrant"
      box: bento/centos-7.6
      memory: 1024
      ip: 192.168.44.47
virtualbox_group: '/Vagrant/metrics'
